#root {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.itemsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

.itemDetail {
  display: grid;
  grid-template-columns: 10% 1fr 2fr 10%;
  width: 90%;
  max-width: 1240px;
  grid-gap: 50px;
  margin: 0 auto;
  margin-top: 100px;
}

.itemDetail .card {
  grid-column: 2/3;
}

.itemDescription {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.loadButton {
  text-align: center;
  line-height: 100px;
}

h1 {
  text-align: center;
  color: bisque;
}

.purchaseButtons {
  display: flex;
  justify-content: space-around;
}

.card:hover {
  cursor: pointer;
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 850px) {
  .itemsContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
