.itemsContainer {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.card {
  min-height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 850px) {
  .itemsContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
